@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img, picture {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

body .logo {
  font-family: 'Shrikhand', cursive;
}

* {
  color: #000;
}

body .card-body i:hover, body .nom_menu i:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
}

body .recherche {
  border-top-color: gray;
  background-color: #cccccc;
}

body .recherche input {
  background-color: #cccccc;
  border-style: none;
}

body .recherche input ::-webkit-input-placeholder {
  color: #000;
}

body .recherche input :-ms-input-placeholder {
  color: #000;
}

body .recherche input ::-ms-input-placeholder {
  color: #000;
}

body .recherche input ::placeholder {
  color: #000;
}

body .recherche input :active {
  border-style: none;
}

body .reservation {
  background-color: #f2f2f2;
}

body .reservation button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-style: none;
  -webkit-box-shadow: 0px 0px 10px #cacaca;
          box-shadow: 0px 0px 10px #cacaca;
}

body .fonctionnement {
  background-color: white;
}

body .fonctionnement ol li {
  background-color: #f2f2f2;
  list-style: circle 12px #9356DC;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body .fonctionnement ol li .nombre {
  background-color: #9356DC;
  color: white;
}

body .fonctionnement ol li i {
  color: #7e7e7e;
}

body .fonctionnement ol li:hover {
  background-color: #f5edff;
}

body .fonctionnement ol li:hover i {
  color: #9356DC;
}

body .restaurants {
  background: #f2f2f2;
}

body .restaurants a {
  text-decoration: none;
}

body .restaurants .card {
  -webkit-box-shadow: 0px 0px 10px #e7e7e7;
          box-shadow: 0px 0px 10px #e7e7e7;
}

body .restaurants .card span {
  z-index: 1;
  color: #4acbab;
  background: #e8f9f5;
}

body .restaurants .card .card-body {
  background-color: white;
}

body .restaurants .card i:hover {
  color: linear-gradient(#FF79DA, #9356DC);
}

body .menu {
  background-color: #f6f6f6;
}

body .menu ul {
  list-style: none;
}

body .menu ul .services h3 {
  border-bottom: solid #99E2D0;
}

body .menu ul .services li {
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px #d0d0d0;
          box-shadow: 0px 0px 5px #d0d0d0;
}

body .menu button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-style: none;
  -webkit-box-shadow: 0px 0px 10px #d0d0d0;
          box-shadow: 0px 0px 10px #d0d0d0;
}

body footer {
  background-color: #353535;
}

body footer .logo, body footer ul li div, body footer a, body footer i {
  color: white;
}

body footer ul li {
  list-style: none;
}

body footer ul li a {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body header {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: row wrap;
      flex-wrap: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

body header h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
}

body header a {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 16px;
}

body .recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
}

body .recherche i {
  padding-right: 4px;
}

body .recherche input {
  font-size: 14px;
  width: 120px;
  height: 16px;
}

body .recherche input ::-webkit-input-placeholder {
  font-weight: bold;
}

body .recherche input :-ms-input-placeholder {
  font-weight: bold;
}

body .recherche input ::-ms-input-placeholder {
  font-weight: bold;
}

body .recherche input ::placeholder {
  font-weight: bold;
}

body .reservation {
  min-width: 375px;
  width: 100%;
  height: 288px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
}

body .reservation h2 {
  width: 100%;
  font-size: 24px;
  padding: 20px;
  margin: 0px;
  font-weight: bold;
}

body .reservation p {
  margin-bottom: 32px;
}

body .reservation .bouton {
  width: 216px;
  height: 50px;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  -webkit-box-shadow: 10px;
          box-shadow: 10px;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .fonctionnement {
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 64px;
}

body .fonctionnement ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .fonctionnement h2 {
  padding-top: 50px;
}

body .fonctionnement ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 330px;
  height: 74px;
  border-radius: 10px;
  margin: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .fonctionnement ol li .nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: -11px;
}

body .fonctionnement ol li i {
  margin-inline: 25px;
}

body .fonctionnement ol li h3 {
  font-size: 90%;
  font-weight: 600;
}

body .restaurants {
  width: 100%;
  padding-left: 20px;
  margin-inline: auto;
}

body .restaurants h2 {
  padding-top: 55px;
  padding-bottom: 24px;
}

body .restaurants .cards {
  width: 100%;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .restaurants .cards a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}

body .restaurants .cards .card {
  width: 336px;
  height: 254px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

body .restaurants .cards .card span {
  position: absolute;
  text-align: center;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 30px;
  padding-block: 9px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 900;
}

body .restaurants .cards .card img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: clip;
}

body .restaurants .cards .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 80px;
  padding: 12px;
}

body .restaurants .cards .card .card-body i {
  font-size: 20px;
}

body .restaurants .cards .card .card-body .card-title {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 16px;
}

body .restaurants .cards .card .card-body .card-exerpt {
  font-size: 14px;
}

body .photo {
  height: 256px;
  overflow: hidden;
  z-index: -1;
}

body .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  padding: 32px;
  overflow: visible;
  z-index: 2;
}

body .menu .nom_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

body .menu .nom_menu i {
  font-size: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .menu ul li {
  font-size: 16px;
  width: 350px;
}

body .menu ul li h3 {
  font-variant: small-caps;
  width: 36px;
  border-bottom-width: 3px;
  padding-bottom: 6px;
}

body .menu ul li li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  margin: 10px;
  padding-left: 8px;
}

body .menu ul li li h4 {
  font-size: 14px;
  padding-bottom: 8px;
}

body .menu ul li li p {
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body .menu ul li li strong {
  font-size: 14px;
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
}

body .menu .bouton {
  width: 188px;
  height: 50px;
  border-radius: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body footer {
  width: 100%;
  height: 240px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 20px;
  font-size: 12px;
}

body footer .logo {
  padding: 24px 0px 28px;
}

body footer .logo ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body footer .logo ul li {
  margin-bottom: 16px;
}

body footer .logo ul li div .proposition, body footer .logo ul li div .partenariat {
  left: 20px;
}

body footer .logo ul li div i {
  width: 15px;
  margin-right: 10px;
}

.option .coche {
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 70px;
  width: 0px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  background: #99E2D0;
  color: white;
}

.option .coche:hover {
  width: 50px;
}

.option .coche i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.option .coche i:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: white;
}

.far.fa-heart:hover {
  color: linear-gradient(#FF79DA, #9356DC);
}

#chargement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-animation: disparaitre 1s;
          animation: disparaitre 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.cercle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-right: 5px solid #FF79DA;
  border-left: 5px solid #9356DC;
  -webkit-animation: rotation 1s ease-in-out infinite;
          animation: rotation 1s ease-in-out infinite;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes disparaitre {
  0% {
    opacity: 1;
    height: 100vh;
    z-index: 2;
  }
  75% {
    opacity: 0;
    height: 100vh;
    z-index: -1;
  }
  100% {
    opacity: 0;
    height: 0;
    z-index: -1;
  }
}

@keyframes disparaitre {
  0% {
    opacity: 1;
    height: 100vh;
    z-index: 2;
  }
  75% {
    opacity: 0;
    height: 100vh;
    z-index: -1;
  }
  100% {
    opacity: 0;
    height: 0;
    z-index: -1;
  }
}

.far.fa-heart::after {
  color: linear-gradient(#FF79DA, #9356DC);
}
/*# sourceMappingURL=style.css.map */