@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img, picture {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}
body .logo {
  font-family: "Shrikhand", cursive;
}

* {
  color: #000;
}

body .recherche {
  border-top-color: gray;
  background-color: #cccccc;
}
body .recherche input {
  background-color: #cccccc;
  border-style: none;
}
body .recherche input ::-moz-placeholder {
  color: #000;
}
body .recherche input :-ms-input-placeholder {
  color: #000;
}
body .recherche input ::placeholder {
  color: #000;
}
body .recherche input :active {
  border-style: none;
}
body .reservation {
  background-color: #f2f2f2;
}
body .reservation button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-style: none;
  box-shadow: 0px 0px 10px rgb(202, 202, 202);
}
body .fonctionnement {
  background-color: white;
}
body .fonctionnement ol li {
  background-color: #f2f2f2;
  list-style: circle 12px #9356DC;
  transition: all 0.2s ease-in-out;
}
body .fonctionnement ol li .nombre {
  background-color: #9356DC;
  color: white;
}
body .fonctionnement ol li i {
  color: rgb(126, 126, 126);
}
body .fonctionnement ol li:hover {
  background-color: rgb(245, 237, 255);
}
body .fonctionnement ol li:hover i {
  color: #9356DC;
}
body .restaurants {
  background: #f2f2f2;
}
body .restaurants a {
  text-decoration: none;
}
body .restaurants .card {
  box-shadow: 0px 0px 10px rgb(231, 231, 231);
}
body .restaurants .card span {
  z-index: 1;
  color: #4acbab;
  background: #e8f9f5;
}
body .restaurants .card .card-body {
  background-color: white;
}
body .menu {
  background-color: rgb(246, 246, 246);
}
body .menu ul {
  list-style: none;
}
body .menu ul .services h3 {
  border-bottom: solid #99E2D0;
}
body .menu ul .services li {
  background-color: white;
  box-shadow: 0px 0px 5px rgb(208, 208, 208);
}
body .menu button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-style: none;
  box-shadow: 0px 0px 10px rgb(208, 208, 208);
}
body footer {
  background-color: rgb(53, 53, 53);
}
body footer .logo, body footer ul li div, body footer a, body footer i {
  color: white;
}
body footer ul li {
  list-style: none;
}
body footer ul li a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body header {
  height: 64px;
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-between;
  align-content: center;
}
body header h1 {
  align-self: center;
  justify-content: center;
  font-size: 24px;
}
body header .retour {
  align-self: center;
  position: absolute;
  left: 30px;
  font-size: 16px;
}
body .recherche {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
body .recherche i {
  padding-right: 4px;
}
body .recherche input {
  font-size: 14px;
  width: 120px;
  height: 16px;
}
body .recherche input ::-moz-placeholder {
  font-weight: bold;
}
body .recherche input :-ms-input-placeholder {
  font-weight: bold;
}
body .recherche input ::placeholder {
  font-weight: bold;
}
body .reservation {
  min-width: 375px;
  width: 100%;
  height: 288px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
body .reservation h2 {
  width: 100%;
  font-size: 24px;
  padding: 20px;
  margin: 0px;
  font-weight: bold;
}
body .reservation p {
  margin-bottom: 32px;
}
body .reservation .bouton {
  width: 216px;
  height: 50px;
  margin: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 10px;
  font-weight: bold;
  align-self: center;
}
body .fonctionnement {
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 64px;
}
body .fonctionnement ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .fonctionnement h2 {
  padding-top: 50px;
}
body .fonctionnement ol li {
  display: flex;
  width: 330px;
  height: 74px;
  border-radius: 10px;
  margin: 20px;
  align-items: center;
}
body .fonctionnement ol li .nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: -11px;
}
body .fonctionnement ol li i {
  margin-inline: 25px;
}
body .fonctionnement ol li h3 {
  font-size: 90%;
  font-weight: 600;
}
body .restaurants {
  width: 100%;
  margin-inline: auto;
}
body .restaurants h2 {
  padding-top: 55px;
  padding-bottom: 24px;
  padding-left: 20px;
}
body .restaurants .cards {
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
}
body .restaurants .cards a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
body .restaurants .cards .card {
  width: 336px;
  height: 254px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
body .restaurants .cards .card span {
  position: absolute;
  text-align: center;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 30px;
  padding-block: 9px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 900;
}
body .restaurants .cards .card img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: clip;
}
body .restaurants .cards .card .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 80px;
  padding: 12px;
}
body .restaurants .cards .card .card-body i {
  font-size: 20px;
}
body .restaurants .cards .card .card-body .card-title {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 16px;
}
body .restaurants .cards .card .card-body .card-exerpt {
  font-size: 14px;
}
body .photo {
  height: 256px;
  overflow: hidden;
  z-index: -1;
}
body .menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  padding: 32px 8px;
  overflow: visible;
  z-index: 2;
}
body .menu .nom_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right: 32px;
}
body .menu .nom_menu i {
  font-size: 20px;
  align-self: center;
}
body .menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .menu ul li {
  font-size: 16px;
  width: 350px;
}
body .menu ul li h3 {
  font-variant: small-caps;
  width: 36px;
  border-bottom-width: 3px;
  padding-bottom: 6px;
}
body .menu ul li li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 70px;
  border-radius: 10px;
  margin: 10px;
  padding-left: 8px;
}
body .menu ul li li h4 {
  font-size: 16px;
  padding-bottom: 8px;
}
body .menu ul li li p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .menu ul li li .prix {
  font-size: 16px;
  align-content: flex-end;
  padding-right: 20px;
}
body .menu .bouton {
  width: 188px;
  height: 50px;
  border-radius: 25px;
  align-self: center;
}
body footer {
  width: 100%;
  height: 200px;
  justify-content: flex-start;
  padding-left: 20px;
  font-size: 90%;
}
body footer .logo {
  padding: 24px 0px 28px;
}
body footer ul {
  justify-content: flex-start;
}
body footer ul li {
  margin-bottom: 16px;
}
body footer ul li i {
  width: 25px;
}

#chargement {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  -webkit-animation: disparaitre 1s;
          animation: disparaitre 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#chargement h2 {
  margin: auto;
  font-size: 200%;
  border-bottom: 3px solid #99E2D0;
}
#chargement .cercle {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-right: 5px solid #FF79DA;
  border-left: 5px solid #9356DC;
  -webkit-animation: rotation 1s ease-in-out infinite;
          animation: rotation 1s ease-in-out infinite;
}
#chargement p {
  width: 75%;
  margin: auto;
  font-size: 150%;
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes disparaitre {
  0% {
    opacity: 1;
    height: 100vh;
    z-index: 2;
  }
  75% {
    opacity: 0;
    height: 100vh;
    z-index: -1;
  }
  100% {
    opacity: 0;
    height: 0;
    z-index: -1;
  }
}
@keyframes disparaitre {
  0% {
    opacity: 1;
    height: 100vh;
    z-index: 2;
  }
  75% {
    opacity: 0;
    height: 100vh;
    z-index: -1;
  }
  100% {
    opacity: 0;
    height: 0;
    z-index: -1;
  }
}
.option {
  overflow: hidden;
}
.option .description {
  width: 300px;
}
.option:hover .description {
  width: 220px;
}
.option .coche {
  display: grid;
  place-content: center;
  height: 70px;
  width: 0px;
  transition: width 0.5s ease-in-out;
  background: #99E2D0;
  color: white;
  overflow: hidden;
}
.option .coche i {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
  transition-delay: 0.3s;
}
.option .coche i:hover {
  transform: rotate(360deg);
  color: white;
}
.option:hover .coche {
  width: 50px;
}

.favoris {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.favoris:hover .fa-square-full {
  top: -20px;
}
.favoris i {
  position: absolute;
  top: 0;
  left: 0;
}
.favoris .fas.fa-heart {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
}
.favoris .far.fa-heart {
  z-index: 10;
}
.favoris .fa-square-full {
  z-index: 2;
  color: white;
  transition: top 1s ease-in-out;
  overflow: hidden;
}

.menu .favoris .fa-square-full {
  color: rgb(246, 246, 246);
}

.menu {
  transition: height 0.5s ease-in-out;
}
.menu .option {
  -webkit-animation: apparaitre 0.5s ease-in-out;
          animation: apparaitre 0.5s ease-in-out;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
.menu .apparaitre1 {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.menu .apparaitre2 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.menu .apparaitre3 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.menu .apparaitre4 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
@-webkit-keyframes apparaitre {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes apparaitre {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */