#chargement {
  position: fixed;
  margin:auto;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  animation: disparaitre 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  h2{
    margin: auto;
    font-size: 200%;
    border-bottom: 3px solid $tertiaire;
  }
  .cercle {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-right: 5px solid $secondaire;
    border-left: 5px solid $primaire;
    animation: rotation 1s ease-in-out infinite;
  }
  p{
    width: 75%;
    margin: auto;
    font-size: 150%;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes disparaitre {
  0% {
    opacity: 1;
    height: 100vh;
    z-index: 2;
  }

  75% {
    opacity: 0;
    height: 100vh;
    z-index: -1;
  }

  100% {
    opacity: 0;
    height: 0;
    z-index: -1;
  }
}

.option {
  overflow: hidden;
  .description{
    width: 300px;

    }
    &:hover .description{
      width: 220px;
      }
  .coche {
    display: grid;
    place-content: center;
    height: 70px;
    width: 0px;
    transition: width 0.5s ease-in-out;
    background: $tertiaire;
    color: white;
    overflow: hidden;
    i {
      transform: rotate(0deg);
      transition: transform 0.5s ease-in-out;
      transition-delay: 0.3s;
      color: white;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
  &:hover .coche{
    width: 50px;
    
  }
}
.favoris{
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    &:hover {
        .fa-square-full{
            top:-20px;
        }
    }
    i{
        position: absolute;
        top: 0;
        left: 0;
    }
    .fas.fa-heart{
      color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient($primaire, $secondaire)
    }
    .far.fa-heart{
      z-index: 10;
    }
    .fa-square-full{
      z-index: 2;
        color: white;
        transition: top 1s ease-in-out;
        overflow:hidden;
        
    }
}
.menu .favoris .fa-square-full{
  color: rgb(246, 246, 246)
}


.menu {
  transition: height 0.5s ease-in-out;
  .option {
    
    animation: apparaitre 0.5s ease-in-out;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    opacity:0;
  }
.apparaitre1{
    animation-delay: 0s;
}
.apparaitre2{
    animation-delay: 0.5s;
}
.apparaitre3{
    animation-delay: 1s;
}
.apparaitre4{
    animation-delay: 1.5s;
}
  @keyframes apparaitre {
    0% {
    transform: translateY(30px);
      opacity: 0;
    }
    100% {
        transform: translateY(0px);
      opacity: 1;
    }
  }
}
