$primaire:#9356DC;
$secondaire:#FF79DA;
$tertiaire:#99E2D0;
$noir: #000;
*{
    color: $noir;
}
body{
    .recherche{
        border-top-color: lighten($color: $noir, $amount: 50%);
        background-color: lighten($color: $noir, $amount: 80%);
        ::placeholder{
            background-color: lighten($color: #000000, $amount: 80%);
            border-color: none;
        }
    }
    .reservation{
        background-color: lighten($color: $noir, $amount: 95%);
    }
    .bouton{
        background: linear-gradient($secondaire, $primaire);
        color: lighten($color: #000000, $amount: 100%);
    }
    .fonctionnement{
        background-color: lighten($color: #000000, $amount: 100%);
        ol li{
            background-color: lighten($color: #000000, $amount: 95%);
            list-style: circle 12px $primaire;
            transition: all 0.2s ease-in-out;
            .nombre{
                background-color: $primaire;
                color: white;
                
            }
            i{
                color:rgb(126, 126, 126);
            }
            &:hover{
                background-color: rgb(245, 237, 255);
                i{
                    color: $primaire;

                }
            }
        }
    }
    .restaurants{
        background-color: lighten($color: #000000, $amount: 95%);
        .card span{
            color:$tertiaire;
            background: lighten($tertiaire, $amount: 20%);
        }
    }
    .footer{
        background-color: grey;
        color: white;
    }
}
