$primaire:#9356DC;
$secondaire:#FF79DA;
$tertiaire:#99E2D0;
$noir: #000;
*{
    color: $noir;
}
.formulaire_de_recherche{
    border-top-color: lighten($color: $noir, $amount: 20%);
    background-color: lighten($color: $noir, $amount: 50%);
}

.bouton{
    background-color: linear-gradient($primaire, $secondaire);
    color: adjust-hue($color: $noir, $degrees: 180);
}