body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    header{
        height: 64px;
        .navigation{
            display:flex;
            justify-content: space-between;
            h1{
            font-size: 24px;
            align-self: center;
                
            }
            i{
                align-content: flex-start;
            }

        }
        
    }
    .recherche{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width:100%;
        height: 50px;
        input{
            font-size: 12px;
            ::placeholder{
                font-weight: bold;
            }
        }
    }
    .reservation{
        height: 288px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        h2{
            width: 100%;
            font-size: 24px;
            padding: 20px;
            margin: 0px;
            font-weight: bold;
        }
        p{
            margin-bottom: 32px;
        }
        .bouton{
            width: 216px;
            height: 50px;
            margin: 20px;
            justify-content: center;
            align-content: center;
            align-items: center;
            border-radius: 25px;
            box-shadow: 10px;
            font-weight: bold;
            align-self: center;
            
        }
    }

    .fonctionnement{
        height: 444px;
        padding-left: 20px;
        h2{
            padding-top: 50px;
        }
        ol li{
            display: flex;
            width:330px;
            height:74px;
            border-radius: 10px;
            margin:20px;
            align-items: center;
            .nombre{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin-left: -11px;
                
            }
            i{
                margin-inline: 25px;
            }
            h3{
                font-size:90%;
                font-weight: 600;
            }
        }
    }
    .restaurants{
        width: 100%;
        padding-left:20px;
        h2{
            padding-top: 55px;
            padding-bottom: 24px;
        }
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 30px;
            padding: 12px;
            border-radius: 2px;
            font-size: 12px;
            font-weight: 900;
        }
        .cards{
            width: 100%;
        }
        .card{
            width: 336px;
            height: 254px;
            border-radius: 10px;
            padding: 8px;
            .card-image{
                position: relative;
            }
            .card-image img{
                width:100%;
                height: 174px;
                object-fit: contain;
                overflow: clip;
            }
            .card-body{
                position: relative;
                height:80px;
                i{
                    font-size: 20px;
                }
            }
        }
    }
    .photo{
        height: 256px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        padding: 32px;
        overflow: visible;
        .nom_menu{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 20px;
            i{
                font-size: 20px;
                align-self: center;
            }
        }
        ul li{
            
            font-size: 16px;
            width: 90%;
            
            h3{
                font-variant: small-caps;
                width: 36px;
                border-bottom-width: 3px;
                padding-bottom: 6px;
            }
            li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 70px;
            border-radius: 10px;
            margin:10px;
            padding-left: 8px;
                h4{
                    font-size: 14px;
                    padding-bottom: 8px;
                }
                p{
                    font-size: 10px;
                    
                }
                strong{
                    font-size: 14px;
                    align-self: flex-end;
                }
            }
        }
        .bouton{
            width: 188px;
            height: 50px;
            border-radius: 25px;
            align-self: center;
        }
    }
    footer{
        width:100%;
        height: 240px;
        justify-content: flex-start;
        padding-left: 20px;
        font-size: 12px;
        .logo{
            padding: 24px 0px 28px;
                ul {
                justify-content: flex-start;
                    li{
                        margin-bottom: 16px;
                        div{
                            flex-direction: row;
                            justify-content: space-between;
                        } 
                        
                        
                        i{
                            width: 15px;
                            margin-right: 10px;
                        }
                    }
                }
            }
    }
}

